.remark-slide-content
  pre
    background-color: $darkest
    padding: 0.4em
    overflow: hidden
    code
      box-shadow: $code-box-shadow

  &.small
    pre
      font-size: 0.8em
  &.tiny
    pre
      font-size: 0.6em

  &.wrap
    pre
      white-space: pre-wrap

  code.remark-inline-code
    color: $code-inline-color

  code .remark-code-line-highlighted
    background-color: $darkest
