@mixin cover
  background-image: none

@mixin darkness-cover
  @include cover
  background-color: darken($darkness, 10%)
  h1
    color: $bright
  h2
    color: $gold

@mixin frost-cover
  @include cover
  background-color: darken($frost, 20%)
  h1
    color: $bright
  h2
    color: $gold

@mixin ice-cover
  @include cover
  background-color: darken($ice, 20%)
  h1
    color: $bright
  h2
    color: $gold

@mixin water-cover
  @include cover
  background-color: darken($water, 20%)
  h1
    color: $bright
  h2
    color: $gold

@mixin ocean-cover
  @include cover
  background-color: darken($ocean, 20%)
  h1
    color: $bright
  h2
    color: $gold

@mixin red-cover
  @include cover
  background-color: darken($red, 20%)
  h1
    color: $bright
  h2
    color: $dark

@mixin orange-cover
  @include cover
  background-color: darken($orange, 20%)
  h1
    color: $bright
  h2
    color: $dark

@mixin gold-cover
  @include cover
  background-color: darken($gold, 20%)
  h1
    color: $bright
  h2
    color: $dark

@mixin green-cover
  @include cover
  background-color: darken($green, 20%)
  h1
    color: $bright
  h2
    color: $dark

@mixin purple-cover
  @include cover
  background-color: darken($purple, 20%)
  h1
    color: $bright
  h2
    color: $dark

@mixin monochromatic-cover
  @include cover
  h2
    color: inherit
