.remark-slide-content
  .small
    font-size: 0.8em
    font-weight: 200

  strong
    color: $strong-color
  em>strong,
  strong>em
    color: $emphasis-color
    font-style: normal
  strong>strong
    color: $strongest-color
  em>em
    color: $emphases-color
    font-style: normal

  a
    color: $link-color
    text-decoration: underline dotted

.remark-notes-area
  a
    color: darken($link-color, 20%)
    text-decoration: underline dotted
