.remark-slide-content
  h1, h2, h3, h4, h5, h6
    font-family: $capital-font
    font-weight: 800
    a
      color: inherit
      text-decoration: none
  h1
    font-size: 2.4em
    color: $ocean
  h2
    color: $water
  h3
    color: $ice
  h4
    color: $frost

  &.stack
    h1
      color: $water
      font-weight: 200
      font-size: 1em
      margin-bottom: 0
    h1+h2
      color: $ocean
      font-size: 2.4em
      margin-top: 0
