@mixin jumbo
  position: absolute
  top: 50%
  left: 50%
  margin: 0
  transform: translateX(-50%) translateY(-50%)
  width: calc(100% - 2*4rem)


.remark-slide-content
  &.jumbo
    @include hide-slide-number
    &>p
      font-size: 1.5em
    blockquote
      @include jumbo
      width: calc(100% - 2*4em)
      border-left: 1rem solid $quote-color
      font-size: 1.4em
    h1
      @include jumbo
      font-size: 4em
      text-align: center
    h2
      @include jumbo
      font-weight: 400
      margin-top: 2em
      text-align: center
    &.pill
      h1
        transform: translateX(-50%) translateY(calc(-50% - 2rem))
  span.jumbo
    font-size: 1.5em
