.remark-slide-content
  .license
    bottom: 1em
    left: 0.5em
    position: absolute
    writing-mode: sideways-lr
    img
      width: 2rem
      display: inline
    p
      display: inline-block
      color: $darker
      font-size: 0.6rem
      vertical-align: middle
    a
      color: inherit
      &:hover
        color: $dark
