.remark-slide-content,
.remark-notes-area
  ul, ol
    font-size: 1em
    padding-left: 2em
    li
      p
        margin: 0
      ul, ol
        font-size: 0.8em
        padding-left: 1em
    li + li,
    li > ul,
    li > ol
      margin-top: 0.8em

  ul
    li
      list-style-type: square
      li
        list-style-type: circle

  &.big
    ul, ol
      font-size: 1.6em
      padding-left: 1em
      ul, ol
        font-size: 0.8em

  &.imglist
    ul, ol
      padding-left: 0
      li::before
        content: ''
        display: inline-block
        height: 0.8em
        width: 1.5em
        background-image: $list-style-image
        background-size: 0.9em
        background-repeat: no-repeat
      li
        list-style-type: none
      ul, ol
        padding-left: 2em
