.remark-notes-area
  background-color: $bright
  color: $darkness
  font-family: $roman-font
  font-size: 18px

  .remark-bottom-area
    .remark-toggle
      font-family: $roman-font
      color: $dark

    .remark-notes-current-area
      .remark-notes
        border-top: 1px solid $darker

    .remark-notes-preview-area
      opacity: 0.6
      .remark-notes-preview
        border-top: 1px solid $darker

.remark-toolbar
  .remark-toolbar-timer
    font-family: monospace
    font-weight: 400
