@use 'sass:color'

@mixin rainbow
  $colors: $gold, $green, $water, $purple, $water, $green, $gold, $orange, $red, $orange

  @for $i from 1 through length($colors)
    &:nth-child(#{length($colors)}n+#{$i})
      border-color: nth($colors, $i)

.remark-slide-content
  &.pill
    ul
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin: 0 auto
      padding: 0
      max-width: 1100px
      width: 100%
      li
        @include rainbow
        display: flex
        position: relative
        flex-basis: 5em
        flex: 1
        justify-content: center
        border-bottom-style: solid
        border-radius: 6px
        border-width: 0.5em
        background-color: $darkest
        margin: 0.5em
        padding: 0 0.25rem
        padding: 0.5em
        align-items: center
        text-align: center
        white-space: nowrap
        &:first-child:last-child
          border-color: $dark

        a
          color: inherit
          text-decoration: none
    &.small
      ul
        font-size: 0.8em
    &.jumbo
      ul
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%);
        width: calc(100% - 2*4rem)
        li
          background-color: #0005
          opacity: 0.42
          &:hover
            opacity: 1
