@page {
  size: 1024px 768px;
  margin: 0;
}

// !important are necessary to override inline styles
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
