.remark-slide-content
  blockquote
    border-left: 0.4rem solid $quote-color
    padding-left: 1em
    font-size: 1em
    margin: 0

.remark-notes-area
  blockquote
    border-left: 0.2rem solid $quote-color
    padding-left: 0.5em
