@mixin hide-slide-number
  .remark-slide-number
    display: none

.remark-slide-scaler
  box-shadow: none

.remark-container
  @include hide-slide-number
  background-color: $dark

.remark-slide-content
  padding: 1em 4em
  background-color: $darkness
  background-image: $slide-image
  background-position: top right 2em
  background-size: 4em
  color: $bright
  font-family: $roman-font
  font-size: 24px

