.remark-slide-content
  &.whoami
    h1
      margin-bottom: 2em
    h2
      margin-bottom: -1rem
      margin-left: 10rem
      font-weight: 600
    h3
      margin-bottom: -1rem
      margin-left: 10rem
      font-weight: 200
      em
        font-size: 0.8em
      &:last-of-type
        margin-bottom: 3em
    img
      position: absolute
      top: 13rem
      left: 5rem
      border: 2px solid $dark
      border-radius: 200px
      width: 7rem
      height: 7rem
    p
      font-size: 0.8em
