// Stylesheet used on homepage
@import "fonts/raleway"
@import "nord"

// Polar Night
$darkness: $nord0
$darkest: $nord1
$darker: $nord2
$dark: $nord3

// Snow Storm
$bright: $nord4
$brighter: $nord5
$brightest: $nord6

// Frost
$frost: $nord7
$ice: $nord8
$water: $nord9
$ocean: $nord10

// Aurora
$red: $nord11
$orange: $nord12
$gold: $nord13
$green: $nord14
$purple: $nord15

// Fonts
$roman-font: "Raleway", sans-serif

body
  background-color: $darkness
  color: $bright
  font-family: $roman-font
  font-size: 24px
  line-height: 1.6
  text-align: center

h1
  color: $ocean
  font-size: 2.4em
  font-weight: 800

.training-list
  display: flex
  flex-flow: row wrap
  font-size: 1.5em
  list-style: none
  padding: 0
  li
    display: flex
    border: 1px solid $gold
    align-items: center
    background-color: $darker
    flex: 1 0 10em
    justify-content: flex-start
    margin: 1em
    &:hover
      cursor: pointer
      box-shadow: 0 0 20px $gold
  img
    max-height: 5em
  p
    margin-bottom: 0
  a
    cursor: pointer
    width: 100%
    color: darken($gold, 20%)
    padding: 1em
    text-decoration: none
    &:hover
      color: $gold
