@import "coagul"

@mixin libreoffice
  background-size: 80%
  background-position: bottom center

@mixin manchot
  background-image: url('/images/manchot.svg')
  background-position: 17em
  background-size: 34%
  background-blend-mode: multiply

@mixin nextcloud
  background-color: #c4e1f7
  background-position: bottom center
  background-size: contain

@mixin proton
  @include darkness-cover
  @include monochromatic-cover
  background-position: bottom center, center center
  background-size: 80%, cover

#slide-6degrees
  background-image: url('/images/logiciel_libre/6degrees.png')
  background-size: cover
  background-blend-mode: multiply
  background-position: inherit

#slide-bbb
  background-image: url('/images/logiciel_libre/bbb.png')
  background-position: bottom
  background-size: 80%

#slide-blackbox
  @include darkness-cover

#slide-blender
  background-image: url('/images/logiciel_libre/blender.jpg')
  background-position: bottom
  background-size: 80%

#slide-chiffres
  @include gold-cover

#slide-civicrm
  background-image: url('/images/logiciel_libre/civicrm.png')
  background-position: bottom
  background-size: 80%

#slide-coagul
  @include purple-cover
  background-image: url('/images/coagul.svg')
  background-size: 21em
  background-position: center

#slide-copyleft
  background-image: url('/images/logiciel_libre/copyleft.svg')
  background-position: 26em 13em
  background-size: 50%
  background-blend-mode: color-dodge

#slide-cover
  @include purple-cover
  @include manchot

#slide-creativecommons
  @include orange-cover
  background-image: url('/images/logiciel_libre/creativecommons.svg')
  background-position: center
  background-size: 80%
  background-blend-mode: color-dodge

#slide-cryptpad
  background-image: url('/images/logiciel_libre/cryptpad.png')
  background-size: contain

#slide-droits
  @include ocean-cover

#slide-exodus
  background-image: url('/images/logiciel_libre/exodus.png')
  background-position: 26em 11em
  background-size: 50%
  background-blend-mode: overlay

#slide-fdroid
  background-image: url('/images/logiciel_libre/fdroid.png')
  background-position: 26em 11em
  background-size: 50%
  background-blend-mode: overlay

#slide-fin
  @include darkness-cover
  @include manchot

#slide-framadate
  background-image: url('/images/logiciel_libre/framadate.png')
  background-position: bottom
  background-size: 80%

#slide-gafam
  @include red-cover

#slide-gafam-nation
  @include ocean-cover
  background-image: url('/images/logiciel_libre/gafam-nation.png')
  background-position: center 4em
  background-size: 50%

#slide-galette
  background-image: url('/images/logiciel_libre/galette.png')
  background-position: 11em bottom
  background-size: 63%

#slide-gplay
  background-image: url('/images/logiciel_libre/gplay.svg')
  background-position: 26em 11em
  background-size: 50%
  background-blend-mode: multiply

#slide-gvot
  background-image: url('/images/logiciel_libre/gvot.png')
  background-position: 15em 4em
  background-size: 54%

#slide-iagree
  background-image: url('/images/logiciel_libre/iagree.jpeg')
  background-size: cover
  background-blend-mode: multiply

#slide-inkscape
  background-image: url('/images/logiciel_libre/inkscape.png')
  background-position: 10em bottom
  background-size: 72%

#slide-jitsi
  background-image: url('/images/logiciel_libre/jitsi.png')
  background-position: bottom right
  background-size: 80%

#slide-krita
  background-image: url('/images/logiciel_libre/krita.png')
  background-position: 11em 7em
  background-size: inherit

#slide-libreoffice-base
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-base.png')

#slide-libreoffice-calc
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-calc.png')

#slide-libreoffice-draw
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-draw.png')

#slide-libreoffice-impress
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-impress.png')

#slide-libreoffice-math
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-math.png')

#slide-libreoffice-writer
  @include libreoffice
  background-image: url('/images/logiciel_libre/libreoffice-writer.png')

#slide-licences
  @include green-cover

#slide-lobbying
  background-image: url('/images/logiciel_libre/lobby.svg')
  background-position: center bottom
  background-size: calc(100% - 2*4rem)
  background-blend-mode: soft-light

#slide-mars
  @include darkness-cover
  background-image: url('/images/logiciel_libre/mars.jpg')
  background-size: cover
  background-position: inherit
  h1
    margin-top: 0
  p
    box-shadow: -4em 0 0 rgba(0,0,0,0.5)
    width: 20em
    bottom: 1em
    position: absolute
    background-color: rgba(0,0,0,0.5)
    padding: 0.2em 0

#slide-mastodon
  background-image: url('/images/logiciel_libre/mastodon.png')
  background-position: bottom right
  background-size: 69%

#slide-matomo
  background-image: url('/images/logiciel_libre/matomo.png')
  background-position: bottom
  background-size: 72%

#slide-mattermost
  background-image: url('/images/logiciel_libre/mattermost.png')
  background-position: 11em 7em
  background-size: 72%

#slide-merci
  @include darkness-cover
  @include manchot

#slide-mobiles
  @include purple-cover

#slide-mobilizon
  background-image: url('/images/logiciel_libre/mobilizon.png')
  background-position: 11em 7em
  background-size: 70%

#slide-mumble
  background-image: url('/images/logiciel_libre/mumble.png')
  background-position: 11em 7em
  background-size: 70%

#slide-nextcloud-files
  @include nextcloud
  background-image: url('/images/logiciel_libre/nextcloud-files.png')

#slide-nextcloud-talk
  @include nextcloud
  background-image: url('/images/logiciel_libre/nextcloud-talk.png')

#slide-nextcloud-calendar
  @include nextcloud
  background-image: url('/images/logiciel_libre/nextcloud-calendar.png')

#slide-nextcloud-onlyoffice
  @include nextcloud
  background-image: url('/images/logiciel_libre/nextcloud-onlyoffice.png')

#slide-odoo
  background-image: url('/images/logiciel_libre/odoo.png')
  background-position: right
  background-size: contain

#slide-ofl
  background-image: url('/images/logiciel_libre/ofl.svg')
  background-position: 26em 13em
  background-size: 50%
  background-blend-mode: overlay

#slide-onlyoffice
  background-image: url('/images/logiciel_libre/onlyoffice.jpg')
  background-size: cover

#slide-origines
  @include frost-cover

#slide-osm
  background-image: url('/images/logiciel_libre/osm.png')
  background-position: bottom
  background-size: 80%

#slide-oss
  @include water-cover

#slide-outils
  @include gold-cover

#slide-paheko
  background-image: url('/images/logiciel_libre/paheko.png')
  background-position: 11em bottom
  background-size: 63%

#slide-pardela
  @include green-cover

#slide-peertube
  background-image: url('/images/logiciel_libre/peertube.png')
  background-position: bottom
  background-size: 80%

#slide-permissive
  background-image: url('/images/logiciel_libre/mit.svg')
  background-position: 26em 13em
  background-size: 50%
  background-blend-mode: color-dodge

#slide-piliers
  @include green-cover

#slide-piwigo
  background-image: url('/images/logiciel_libre/piwigo.png')
  background-position: 7em 9em
  background-size: 80%

#slide-phones
  background-image: url('/images/logiciel_libre/pine64.png')
  background-position: bottom

#slide-postmarket
  background-image: url('/images/logiciel_libre/postmarket.jpg')
  background-size: cover
  background-blend-mode: overlay

#slide-protoncalendar
  @include proton
  background-image: url('/images/logiciel_libre/proton-calendar.png'), linear-gradient(#270043, #6d4aff)
  background-position: bottom right

#slide-protondrive
  @include proton
  background-image: url('/images/logiciel_libre/proton-drive.png'), linear-gradient(#270043, #8a00fe)
  background-position: bottom right

#slide-protonmail
  @include proton
  background-image: url('/images/logiciel_libre/proton-mail.png'), linear-gradient(#270043, #6d49ff)
  background-position: bottom right

#slide-protonpass
  @include proton
  background-image: url('/images/logiciel_libre/proton-pass.png'), linear-gradient(#270043, #9e96ff)
  background-position: bottom right

#slide-protonvpn
  @include proton
  background-image: url('/images/logiciel_libre/proton-vpn.png'), linear-gradient(#270043, #8e00ff)
  background-position: bottom right

#slide-pub
  background-image: url('/images/logiciel_libre/signal.png')
  background-position: bottom right
  background-size: inherit

#slide-rgpd
  @include water-cover

#slide-recherche
  background-image: url('/images/logiciel_libre/recherche.svg')
  background-position: bottom center
  background-size: 80%

#slide-ressources
  @include darkness-cover

#slide-rienacacher
  @include water-cover

#slide-signal img
  position: absolute
  top: 3em
  left: 14em
  transform: rotateZ(22.5deg)
  width: 300px
  &:last-of-type
    top: 2em
    left: 24em

#slide-stallman, .stallman
  background-color: darken($darkness, 5%)
  background-image: url('/images/logiciel_libre/stallman.jpg')
  background-position: left center
  background-size: cover
  background-blend-mode: overlay

#slide-thunderbird
  background-image: url('/images/logiciel_libre/thunderbird.png'), url('/images/logiciel_libre/thunderbird-logo.png')
  background-position: bottom center, center center
  background-size: contain, 32%

#slide-torvalds, .torvalds
  background-image: url('/images/logiciel_libre/torvalds.jpg')
  background-position: left center
  background-size: cover
  background-blend-mode: overlay

#slide-tracim
  background-image: url('/images/logiciel_libre/tracim.png')
  background-position: 7em bottom
  background-size: 80%

#slide-wikipedia
  background-image: url('/images/logiciel_libre/wikipedia.png')
  background-position: 26em 13em
  background-size: 50%
  background-blend-mode: color-dodge

#slide-wordpress
  background-image: url('/images/logiciel_libre/wordpress.png')
  background-position: bottom
  background-size: 72%

#slide-yakforms
  background-image: url('/images/logiciel_libre/yakforms.png')
  background-position: bottom right
  background-size: 72%

.cc
  h2
    font-variant-numeric: lining-nums
  img
    clear: both
    display: initial
    float: left
    padding-right: 1em
    margin-bottom: 1em
    width: 4em
  p
    min-height: 4em
