!!! 5

%html
  %head
    %link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    %title Remark
    = stylesheet_link_tag :application
  %body
    #home
      %h1 Présentations
      = yield
