!!! 5

%html
  %head
    %link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    %title= title
    = javascript_include_tag "javascript/remark-0.15.0.min.js"
    = stylesheet_link_tag stylesheet
    %meta(name="viewport" content="initial-scale=0.5")

  %body
    %textarea#source= yield
    :javascript
      var slideshow = remark.create({
        countIncrementalSlides: false,
        highlightLines: true,
        highlightStyle: "#{hljs}",
        ratio: '16:10'
      });
