@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 900
	src: local('Raleway-Black'), url('../fonts/raleway/Raleway-Black.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 900
	src: local('Raleway-BlackItalic'), url('../fonts/raleway/Raleway-BlackItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 800
	src: local('Raleway-ExtraBold'), url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 800
	src: local('Raleway-ExtraBoldItalic'), url('../fonts/raleway/Raleway-ExtraBoldItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 700
	src: local('Raleway-Bold'), url('../fonts/raleway/Raleway-Bold.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 700
	src: local('Raleway-BoldItalic'), url('../fonts/raleway/Raleway-BoldItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 600
	src: local('Raleway-SemiBold'), url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 600
	src: local('Raleway-SemiBoldItalic'), url('../fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 500
	src: local('Raleway-Medium'), url('../fonts/raleway/Raleway-Medium.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 500
	src: local('Raleway-MediumItalic'), url('../fonts/raleway/Raleway-MediumItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 400
	src: local('Raleway-Regular'), url('../fonts/raleway/Raleway-Regular.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 400
	src: local('Raleway-Italic'), url('../fonts/raleway/Raleway-Italic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 300
	src: local('Raleway-Light'), url('../fonts/raleway/Raleway-Light.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 300
	src: local('Raleway-LightItalic'), url('../fonts/raleway/Raleway-LightItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 200
	src: local('Raleway-ExtraLight'), url('../fonts/raleway/Raleway-ExtraLight.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 200
	src: local('Raleway-ExtraLightItalic'), url('../fonts/raleway/Raleway-ExtraLightItalic.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: normal
	font-weight: 100
	src: local('Raleway-Thin'), url('../fonts/raleway/Raleway-Thin.ttf') format('truetype')
@font-face
	font-family: 'Raleway'
	font-style: italic
	font-weight: 100
	src: local('Raleway-ThinItalic'), url('../fonts/raleway/Raleway-ThinItalic.ttf') format('truetype')
